<ng-template #loading>
  <p>Loading...</p>
</ng-template>
<ng-container *ngIf="allPodcasts | async; let podcasts" ; else loading>
  <mat-list>
    <ng-container *ngFor="let podcast of podcasts; let last = last">
      <mat-list-item>
        <h3 matLine>{{ podcast.title }}</h3>
        <p matLine>
          {{ podcast.date }}
        </p>
        <p matLine>
          {{ podcast.description }}
        </p>
        <p matLine>
          {{ podcast.speaker }}
        </p>
        <p matLine>
          {{ podcast.runtime }}
        </p>
      </mat-list-item>
    </ng-container>
  </mat-list>
</ng-container>
